<!DOCTYPE html>
<html lang="en" ng-app>
<head>
   <meta charset="UTF-8">
   <title>hola mundo en Angular</title>
</head>
<body>

   <input type="text" ng-model="campotexto">
   <input type="text" ng-model="minombre">
   <br />
   {{ campotexto }} - {{ camposelect }}
   <br />
   {{ minombre }}
   <br />
   <select ng-model="camposelect">
      <option value="uno">1</option>
      <option value="dos">2</option>
   </select>

   <script type='text/javascript' src="angular.min.js"></script>
</body>
</html>
